<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>


		<!-- CREDENCIAIS DE ACESSO AO BANCO -->
		<add key="dbHost" value="localhost" />
		<add key="dbPort" value="5432" />
		<add key="dbName" value="CadastroAnimals" />
		<add key="dbUser" value="postgres" />
		<add key="dbPass" value="1234" />

		<add key="imageFolder" value="ImagensSistema" />
	</appSettings>
</configuration>