<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>


		<!-- CREDENCIAIS DE ACESSO AO BANCO -->
		<add key="dbHost" value="localhost" />
		<add key="dbPort" value="5432" />
		<add key="dbName" value="ImagensSistemas" />
		<add key="dbUser" value="postgres" />
		<add key="dbPass" value="1234" />

		<add key="imageFolder" value="ImagensSistema" />
		
		<add key="imageDefaultFolder" value="img_default" />
		<add key="imageDefaultFile" value="download.png" />
		
	</appSettings>
</configuration>